In [2]:
# coding:utf-8
import pandas as pd
import os
import cv2

txt_dir = 'fire_report.txt'  #txt文件夹目录

list = pd.read_csv(txt_dir, sep='\s+',
                   names=['area','roundIndex','len'])
list.index += 1
# print(list.iloc[0,0])

list

         area  roundIndex         len
1     14052.5       0.243  852.825462
2     13000.5       0.222  857.997035
3      1506.5       0.467  201.296463
4     12765.0       0.290  743.955406
5      4577.0       0.515  334.249781
...       ...         ...         ...
1082   1229.5       0.314  221.982755
1083   1099.5       0.344  200.267026
1084   1303.0       0.331  222.308655
1085   1318.0       0.389  206.367532
1086   1521.5       0.434  209.923879

[1086 rows x 3 columns]

In [3]:
print(len(list))

1086

In [4]:
list.describe()

               area   roundIndex          len
count   1086.000000  1086.000000  1086.000000
mean    5017.915285     0.347249   413.051940
std     4668.571134     0.107163   202.196053
min      903.000000     0.201000   200.166520
25%     2221.375000     0.263000   265.162209
50%     3241.750000     0.326000   349.178713
75%     5166.625000     0.406000   479.167564
max    26746.500000     0.767000  1176.305691

In [ ]:
for i in range(0, len(list)):

    area = list.iloc[i, 0]
    roundIndex = list.iloc[i, 1]
    len = list.iloc[i, 2]